version: "3.8"

services:
  app:
    build: .
    container_name: jogos
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    working_dir: /app
    env_file:
      - .env
    command: ["poetry","run","uvicorn","api:app","--host","0.0.0.0","--port","8000"]